[Desktop Entry]
Type=Application
Icon=harbour-pygametest
Exec=/usr/share/harbour-pygametest/qml/py/main.py
Terminal=false
Name=PyGameTest
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=harbour-pygametest
X-Desktop-File-Install-Version=0.20
